<div class="header-container">
  <div class="header">
    <div class="header-logo">
      <a routerLink="/">
        <span class="logo-icon">G</span>
        <span class="logo-text">{{ 'Genesis' | translate }}</span>
      </a>
    </div>
    <div class="header-nav">
      <p-menubar [model]="items" styleClass="header-menubar">
        <ng-template pTemplate="end">
          <button pButton 
            [label]="getLanguageButtonLabel()" 
            [icon]="getLanguageButtonIcon()" 
            (click)="toggleLanguage()"
            [ngClass]="{'p-button-rounded': true, 'p-button-outlined p-button-light': true}">
          </button>
        </ng-template>
      </p-menubar>
    </div>
  </div>
</div> 