<div class="search-container">
  <form [formGroup]="searchForm" (ngSubmit)="search()" class="search-form">
    <div class="search-field location">
      <label>
        <i class="pi pi-map-marker"></i>
        <p-select
          formControlName="destination"
          [options]="destinations"
          optionLabel="label"
          [placeholder]="'Where are you going?' | translate"
          [filter]="true"
          filterBy="label"
          [showClear]="true"
        ></p-select>
      </label>
    </div>
    
    <div class="search-field date">
      <label>
        <i class="pi pi-calendar"></i>
        <p-datepicker
          formControlName="dateRange"
          selectionMode="range"
          [minDate]="minDate"
          [placeholder]="'Select travel dates' | translate"
          [showIcon]="false"
          dateFormat="dd/mm/yy"
        ></p-datepicker>
      </label>
    </div>
    
    <div class="search-field guests">
      <label>
        <i class="pi pi-users"></i>
        <p-select 
          formControlName="guests" 
          [options]="guestOptions" 
          optionLabel="label"
          [placeholder]="'Number of Guests' | translate"
          [showClear]="false"
        ></p-select>
      </label>
    </div>
    
    <button pButton type="button" (click)="search()" [label]="'Contact Us' | translate" icon="pi pi-envelope" class="search-button"></button>
  </form>
</div> 