<div class="search-container">
  <form [formGroup]="searchForm" (ngSubmit)="search()" class="search-form">
    <div class="search-field location">
      <label>
        <i class="pi pi-map-marker"></i>
        <input 
          pInputText 
          type="text" 
          formControlName="destination" 
          placeholder="Where are you going?"
        >
      </label>
    </div>
    
    <div class="search-field date">
      <label>
        <i class="pi pi-calendar"></i>
        <p-calendar 
          formControlName="arrivalDate" 
          [minDate]="minDate" 
          placeholder="Arriving" 
          [showIcon]="false"
          dateFormat="dd/mm/yy"
        ></p-calendar>
      </label>
    </div>
    
    <div class="search-field date">
      <label>
        <i class="pi pi-calendar"></i>
        <p-calendar 
          formControlName="departureDate" 
          [minDate]="minDate" 
          placeholder="Leaving" 
          [showIcon]="false"
          dateFormat="dd/mm/yy"
        ></p-calendar>
      </label>
    </div>
    
    <div class="search-field guests">
      <label>
        <i class="pi pi-users"></i>
        <p-dropdown 
          formControlName="guests" 
          [options]="[
            { label: '1 Room, 1 Guest', value: '1 Room, 1 Guest' },
            { label: '1 Room, 2 Guests', value: '1 Room, 2 Guests' },
            { label: '1 Room, 3 Guests', value: '1 Room, 3 Guests' },
            { label: '2 Rooms, 4 Guests', value: '2 Rooms, 4 Guests' }
          ]" 
          optionLabel="label"
          placeholder="Guests"
        ></p-dropdown>
      </label>
    </div>
    
    <button pButton type="submit" label="Search..." icon="pi pi-search" class="search-button"></button>
  </form>
</div> 